.dot {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  border-radius: 999px;
  background-color: black;
  transition-duration: 1000;
  transition: 0.5s;
}

.dots {
  position: fixed;
  top: 50%;
  right: 100;
}

.dotsWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 100px;
}